*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 500px;
    padding: 10px;
    margin: 10% 45%;
    animation-name: banner-title;
    animation-duration: 3s;
}

.F{
    display: gird;
    position: relative;
    width: 500px;
    padding: 0px;
    margin: 10% 45%;
}

@keyframes banner-title {
    from {left: -50%;}
    to {left: 500px;}
}